{% extends 'base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block body %}

    <h1>{{ 'page_title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit">{{ 'actions.save'|trans(domain: 'messages') }}</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
